/* General Profile Styling */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    padding: 50px 20px;
    background: rgba(10, 10, 10, 0.8); 
    color: white;
    height: calc(100vh - 70px); 
    justify-content: center;
    margin-top: 70px; 
}

/* Avatar Styling */
.profile-avatar {
    font-size: 140px;
    margin-bottom: 20px;
    color: #f1f1f1; 
}

/* Profile Information */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-info h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;
}

.profile-stats {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.profile-info p {
    margin-top: 10px;
    font-size: 16px;
    color: #d0d0d0;
}

/* Tabs Section */
.profile-tab-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.08); 
    border-radius: 30px;
}

.profile-tab-navbar button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    transition: color 0.3s ease, background 0.3s ease; 
}

.profile-tab-navbar button.active-profile-tab {
    background-color: #1f78ff;
    color: white;
    border-radius: 20px;
}

.profile-tab-navbar button:hover {
    background-color: #3d4f73; 
    color: #e0e0e0;
}

/* Content Styling */
.profile-content {
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    width: 70%; 
    text-align: center;
    color: #f1f1f1;
}

.profile-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #f1f1f1;
}

.profile-content p {
    font-size: 16px;
    color: #ccc;
}
