/* General container styling */
.messages-container {
    color: #fff;
    font-family: 'Arial', sans-serif;
    min-width: 60vw;
    min-height: 90vh;
    overflow: hidden;
    padding: 20px;
    display: flex;
    margin-left: 15vw;
}
.delete-capsules-btn{
    margin-top: 50px;
}

/* Sidebar (Friends section) styling */
.sidebar {
    width: 250px;
    background: rgba(10, 10, 10, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
    flex-shrink: 0;
}

/* User profile styling in sidebar */
.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 10px;
}

.user-icon {
    font-size: 50px;
    margin-right: 10px;
    color: #fff;
}

.user-profile h3 {
    font-size: 22px;
    font-weight: bold;
}

/* Friends list styling */
.friends-list {
    margin-top: 20px;
}

.friends-list h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ddd;
    padding-left: 10px;
}

.friend-item {
    padding: 12px 10px;
    font-size: 16px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    color: #bbb;
    text-align: left;
}

.friend-item.empty {
    text-align: center;
    padding: 40px 0;
    color: #999;
}

/* Main chat area (Messages section) */
.chat-area {
    flex: 6;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 2, 9, 0.6);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
    border-radius: 0 20px 20px 0;
    padding: 50px;
}

/* Empty message box styling */
.empty-message {
    text-align: center;
}



.empty-message h2 {
    font-size: 34px;
    margin-bottom: 15px;
    color: #f1f1f1;
}

.empty-message p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ccc;
}

.send-message-btn {
    padding: 12px 25px;
    background-color: rgba(255, 255, 255, 0.91);
    color: #000000;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.send-message-btn:hover {
    background-color: rgba(237, 233, 233, 0.64);
}

.new-message {
    margin-top: -300px;
    align-items: flex-start;
    padding: 55px;
    position: relative;
}

.new-message h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #f1f1f1;
}

.back-button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: -40px;
}

.back-button-chat{
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: -220px;
    left: 165px;
}

.back-button-chat:hover {
    background-color: transparent;
}

.message-search-input {
    background-color: white;
    width: calc(100% + 170px);
    margin-left: -85px;
    border-radius: 10px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.message-search-icon {
    margin-left: 15px;
    color: black;
    cursor: pointer;
}

.message-search {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.message-search:focus {
    outline: none;
}

.message-search-result {
    position: absolute;
    display: flex;
    width: calc(100% + 60px);
    margin-left: -85px;
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 25px;
    color: white;
    flex-direction: column;
}

.message-search-result::-webkit-scrollbar {
    display: none;
}

.message-search-result-item {
    text-decoration: none;
    color: white;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in-out;
}

.message-search-result-item:hover {
    background-color: rgb(78, 78, 78);
}

.user-message {
    position: relative;
    display: flex;
}

.other-user-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -410px;
    margin-left: -190px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.other-user-header h3 {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.other-user-icon {
    font-size: 45px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.message-bar {
    background-color: transparent;
    width: calc(100% + 370px);
    margin-left: -195px;
    margin-top: 185px;
    border-radius: 10px;
    min-height: 2.5rem;
    height: auto;
    max-height: 7.5rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 0 0.5px rgb(109, 109, 109);
    overflow-wrap: break-word;
    white-space: normal;
}

.message-bar button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 30px;
}

.message-content {
    color: white;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    flex: 1;
    padding: 0 15px;
    padding-right: 30px;
    font-size: 12px;
}

.conversation-icon{
    margin-top: 10px;
}
.message-content:focus {
    outline: none;
}

.conversation-username{
    margin-right: 2px
}

.conversation-last-message{
    margin-right: 2px;
}

.send-button {
    cursor: pointer;
    position: relative;
    left: -15px;
    font-size: 20px;
}