.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 100vw;
    min-height: auto;
}

.homepage-profile {
    margin-top: 14px;
    position: absolute;
    right: 0;
    margin-right: 8vw;
}

.home-container .post-feed {
    width: 60%;
    height: 100vh;
}