.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 100vw;
    min-height: auto;
}

.homepage-profile {
    position: absolute;
    margin-top: 80px;
    left: 0;
    padding-left: 90px;
}

.home-container .post-feed {
    margin-top: 60px;
    width: 60%;
    height: 100vh;
}