.reset-password-wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}

.reset-password-wrapper h1 {
    font-size: 34px;
    text-align: center;
}

.reset-password-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 14px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box .icons {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.reset-password-wrapper button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.reset-password-wrapper .reset-link {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.reset-link p a {
    color: white;
    text-decoration: none;
    font-weight: 650;
    margin-left: 5px;
}

.reset-link p a:hover {
    text-decoration: underline;
}

.reset-password-wrapper .error-message,
.reset-password-wrapper .success-message {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}