@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items :center;
  min-height: 100vh;
  background-image:
  linear-gradient(135deg, rgba(17, 20, 62, 0.8) 0%, rgba(46, 53, 109, 0.8) 35%, rgba(54, 51, 128, 0.8) 60%, rgba(18, 18, 47, 0.8) 100%),
          url("/public/bgimage3.jpg"); /* Replace with your image path */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
