.feed-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 650px;
}

.create-capsule-btn {
    background-color: rgba(22, 22, 24, 0.95); /* Match post-card style */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    height: fit-content;
    align-self: flex-start;
}

.create-capsule-btn:hover {
    background-color: rgba(22, 22, 24, 0.85);
}

.post-card {
    background-color: rgba(22, 22, 24, 0.95);
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    color: white;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}


.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-content {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4 / 3;
}

.post-info {
    padding: 10px;
}

.post-stats {
    display: flex;
    justify-content: space-between;
    color: #8e8e8e;
    font-size: 14px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin: 5px 40px;
}

.icon{
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 25px;
}

.icon:hover{
    transform: scale(1.1);
}





