.comment-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    padding-top: 2.5%;
}

.popup-background {
    position: absolute;
    top: 5%; 
    left: 0;
    width: 100%;
    height: 95%; 
    background: rgba(0, 0, 0, 0.8);
    z-index: -1; 
}

.popup-wrapper {
    background: none;
    width: 80%;
    margin: 0 auto;
    border-radius: 0px;
    width: 100%;
    max-width: 1000px;
    height: 85%; 
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.popup-wrapper .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup-post {
    flex: 1;
    background: #0d1322; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 10px; 
    color: white;
}

.popup-post img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.popup-comments {
    flex: 1;
    background: #1a1e30; 
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: white; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
}

.comment {
    display: flex;
    align-items: center;
    /* Align profile picture and text */
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(78, 78, 78, 0.8);
    border-radius: 10px;
    color: #ddd;
}

.comment img:hover {
    cursor: pointer;
}

.comment-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* Make the image circular */
    margin-right: 10px;
    /* Space between the picture and text */
    object-fit: cover;
    /* Ensure the image fits nicely */
    border: 1px solid #ccc;
    /* Optional: add a border */
}

.comment-input-section {
    display: flex;
    padding: 15px;
    background: #444;
    border-top: 2px solid #5568ff;
    border-radius: 10px;
}

.comment-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); 
    color: #fff;
}

.comment-input::placeholder {
    color: #aaa;
}

.send-btn {
    background: #1f78ff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    transition: background 0.3s;
}

.send-btn:hover {
    background: #0077cc; 
}

.comment-username:hover {
    cursor: pointer
}